body{
    background-color: #016631;
    font-size: 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: goldenrod;
}

p{
    color: #fff;
}

button{
    background-color: goldenrod;
    color: #016631;
    width: 250px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    padding: 10px 30px;
    cursor: pointer;
    margin: 5px auto;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-btn{
    opacity: 0;
    display: none;
    transition: 0.3s all;
}

#start-btn.active{
    opacity: 100%;
    display: block;
}

#new-btn{
    opacity: 0;
    display: none;
    transition: 0.3s all;
}

#new-btn.active{
    opacity: 100%;
    display: block;
}

#restart-btn{
    opacity: 0;
    display: none;
    transition: 0.3s all;
}

#restart-btn.active{
    opacity: 100%;
    display: block;
}

#continue-btn{
    opacity: 0;
    display: none;
    transition: 0.3s all;
}

#continue-btn.active{
    opacity: 100%;
    display: block;
}

#rest-btn{
    opacity: 0;
    display: none;
    transition: 0.3s all;
}

#rest-btn.active{
    opacity: 100%;
    display: block;
}

@media screen and (max-width: 800px) {
    p{
        font-size: 24px;
    }

    button{
        font-size: 20px;
    }
}